# Project exclude paths
/.gradle/
/build/
/common/.gradle/
/common/build/
/fabric/.gradle/
/fabric/build/
/forge/.gradle/
/forge/build/
/fabric/run/
/neoforge/run/
/.idea/
/neoforge/build/
/neoforge/.gradle/
